<ion-view view-title="Group">
   <ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right"> <button ng-click="openGroup()">New</button>&nbsp;&nbsp; </ion-nav-buttons>
   </ion-nav-bar>
  <ion-content>

   
  <div style="display:flex;flex-flow:row wrap;align-content:space-between;font-size:20px;" >
      <div ng-repeat="item in appData.orders" ng-click="openOrder('{{item._id}}')" style="font-size:14px;position:relative;width:290px;height:200px;border:solid #ddd 2px;margin:30px;line-height:50px;border-radius:5px;text-align:center;" 
       title="{{item.order}}"><span>   {{item.orderNo}}-${{item.grandTotal}}- [Unpaind:{{item.unpaid |currency }}]</span>
     <!--  <img   style="position:absolute;right:0;top:0;width:30px;height:30px;border-radius:5px;" ng-src="{{CONFIG.path}}{{item.picture?item.picture:'defalut.jpg'}}"  onerror="defaultImg()"/> -->
           
       <div style="position:absolute;top:-30px;right:-30px;background:red" ng-if="item.status!='Void'"  ng-click="testvoid(item)" >void </div>
      <b style="position:absolute;right:0;top:0;background:#000;color:#fff;border-radius:5px;">{{item.status}}</b>
           
         <div ng-repeat="itemS in item.bills" style="border:solid red 2px;" ng-click="billVoid(itemS)">
         	{{itemS.status}}-paid:{{itemS.receiveTotal  | currency}} Void
         </div>

    </div>

</ion-view>

